* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #000, #400);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin-card {
    background: linear-gradient(180deg, #111, #000);
    padding: 40px 45px;
    border-radius: 20px;
    width: 420px;
    box-shadow: 0 0 35px rgba(255, 0, 0, 0.45);
    text-align: center;
    animation: fadeIn 0.6s ease;
}

.admin-card h1 {
    color: #ff1e1e;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.sub {
    color: #aaa;
    margin-bottom: 25px;
    font-size: 14px;
}

.admin-card input,
.admin-card textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #1a1a1a;
    color: white;
}

.admin-card input::placeholder,
.admin-card textarea::placeholder {
    color: #777;
}

.admin-card textarea {
    resize: none;
    height: 90px;
}

.admin-card button {
    margin-top: 20px;
    padding: 12px 30px;
    background: transparent;
    color: #ff1e1e;
    border: 2px solid #ff1e1e;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.admin-card button:hover {
    background: #ff1e1e;
    color: black;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}


.btn-sair {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 8px 20px;
    border-radius: 25px;
    border: 2px solid #ff1e1e;
    background: transparent;
    color: #ff1e1e;
    cursor: pointer;
    transition: 0.3s;
}

.btn-sair:hover {
    background: #ff1e1e;
    color: black;
}
