#preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}

#preview img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #777;
}


body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
}

.admin-container {
    max-width: 900px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    background: #1c1c1c;
    color: white;
}

.linha {
    display: flex;
    gap: 10px;
}

.linha input {
    flex: 1;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    margin-top: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid #aaa;
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.salvar {
    border-color: red;
    color: red;
}

#preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}

#preview img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #777;
}
