/* Fundo */
body {
    background-color: black;
    margin: 0;
    padding: 40px;
}

/* Container geral */
.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: wrap; /* permite quebrar linha se faltar espaço */
}

/* Cards */
.d1, .d2, .d3 {
    width: 300px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagens */
.Imagem {
    width: 100%;
    height: 200px;      /* mesma altura para todas */
    object-fit: cover; /* mantém proporção */
}

/* Títulos */
h2 {
    color: red;
    margin: 15px 0 10px 0;
}

/* Lista */
ul {
    color: yellow;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 6px 0;
}
