body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    text-align: center;
}

.detalhes-container {
    max-width: 1200px;
    margin: 0 auto;
}

.detalhes-container img {
    width: 80%;
    border-radius: 12px;
    margin: 25px 0;

    border: 3px solid rgb(240, 7, 7);

    box-shadow:
        0 0 15px rgba(240, 7, 7, 0.6),
        0 0 30px rgba(240, 7, 7, 0.4);
}

h1, h2 {
    color: rgb(240, 7, 7);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

ul li {
    margin: 8px 0;
    font-size: 18px;
}

button {
    margin-top: 30px;
    padding: 12px 28px;
    background-color: white;
    color: rgb(240, 7, 7);
    border: 2px solid rgb(240, 7, 7);
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(240, 7, 7);
    color: white;
}
